.current-todos {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 374px;
  padding-bottom: 75px;
  .current-todos-inner {
    background-color: white;
    position: relative;
  }
  &.fullscreen {
    width: auto;
    padding: 0 200px;
  }
  .expand-icon {
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 21px;
  }
  .big-rocks-header {
    padding: 50px 0 30px 30px;
    color: #373636;
    font-size: 36px;
    font-weight: 600;
    line-height: 53px;
  }
  .other-current-header {
    padding: 40px 0 30px 30px;
    color: #373636;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
  }
  .todo:first-child {
    border-top: 1px solid #eee;
  }
  .big-rocks {
    .checkbox-col {
      width: 64px;
      padding: 25px 20px;
    }
    .current-button-col {
      padding: 28px 29px 25px;
    }
    .todo-name-col {
      padding: 29px 0;
      width: calc(100% - 162px);
    }
    .checkbox {
      height: 24px;
      width: 24px;
      border-radius: 4px;
      &.checked {
        border-width: 1px;
        background-image: url(/src/img/check-big.svg);
      }
    }
  }
}

.no-rocks {
  background: rgba(215,215,215,0.06);
  border: 2px dashed #F2795D;
  border-radius: 3px; 
  margin: 20px 30px;
  padding: 60px 35px 35px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  color: #323844;
  line-height: 22px;

  .sifted-icon {
    margin-bottom: 25px;
  }

  .sub {
    margin-top: 25px;
    font-size: 13px;
    color: #777777;
  }
}

.sifted-icon {
  background: url(/src/img/rocks-logo.svg) center no-repeat;
  height: 21px;
  display: block;
}