.todo-list-sidebar {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 300px;
  overflow: auto;
  h1 {
    padding: 55px 0 0 30px;
    color: #777;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.71px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .todo-list-links {
    margin-top: 10px;
  }
  .teamgantt {
    background: url(/src/img/teamgantt-icon.svg) 35px 19px no-repeat;
    background-size: 14px;
  }

  .inbox {
    background: url(/src/img/inbox-icon.svg) 34px center no-repeat;
  }
  li {
    cursor: pointer;
    padding: 15px 0 15px 55px;
    color: #979797;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    &.current {
      background-color: #F5F7F9;
      font-weight: 600;
      font-size: 16px;
      color: #373636;
    }

    .name {
      display: inline;
    }

    .destroy {
      visibility: hidden;
      font-size: 20px;
      height: 16px;
      line-height: 16px;
      float: right;
      margin-right: 15px;

      &:hover {
        opacity: 0.4;
      }
    }

    &:hover {
      .name {
        text-decoration: underline;
      }

      .destroy {
        visibility: visible;
      }
    }
  }
  .add-todo-list {
    border: 0;
    outline: none;
    padding: 15px 0 15px 85px;
    background: white url(/src/img/btn-add-item.svg) 55px center no-repeat;

    &::placeholder {
      color: #5CBCD6;
      text-transform: uppercase;
      letter-spacing: 1.71px;
      font-size: 0.7em;
    }
  }
}
